node_modules/
.env
dist/
.gemini/
system-logs.log
.vscode/
mobile/.expo/
mobile/.env
._*
**/._*
._system-logs.log
backend/._package-lock.json
frontend/._package-lock.json
backend/._package.json
frontend/._package.json
._schema.sql
frontend/._node_modules
backend/._node_modulesf
backend/.npm-cache
